* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
}

#nft-container {
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

#image-container img {
    width: 100%;
    border-radius: 8px;
}

#details {
    display: flex;
    justify-content: space-between;
}

#eth {
    color: cyan;
}

#author {
    display: flex;
    border-top: 1px solid white;
    padding-top: 10px;
}

#author img {
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 20px;
}

#author p {
    font-size: 0.8rem;
}